.container{
    height: 460px;
    width: 630px;
    position: relative;
    text-align: center;
    margin-top: 24px;
    border-radius: 4px;
}
.video {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.caption{
    position: absolute;
    bottom: 10%;
    z-index: 80; 
    left: 42%;
    color: rgba(255, 255, 255, 0.897);
    text-shadow: 0px 0px 8px rgba(255,255,255,0.51);
}

@media (max-width: 768px) {
    
    .container{
        width: 100%;
        margin: 0;
    }
}